
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ----------MAIN BODY------------ */

.item-container{
  display:flex;
  flex-direction:row;
  /* height: 50px; */
  margin: 5%;
  align-items:center;

  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.logo{
  height: 50px;
  margin-right: 2%;
  border-radius: 10%;
}

.item-content{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  line-height: 1px;
}

/* ACCORDION */

/* Basic reset for accordion */


.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
  /* background: gray; */
}

.accordion-header {
  background-color: #f8f9fa;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.accordion-header:hover {
  background-color: #e2e6ea;
  cursor:pointer;
}

.accordion-body {
  padding: 15px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  overflow: hidden;
}

.accordion-body p {
  margin: 0;
}

/* Add an arrow for header to indicate expand/collapse */
.accordion-header::after {
  content: '\002B'; /* "+" symbol */
  font-size: 18px;
  transition: transform 0.3s ease;
}

.accordion-item.open .accordion-header::after {
  content: '\2212'; /* "-" symbol */
  transform: rotate(180deg);
}